services:
  db:
    platform: linux/arm64
    image: mariadb:latest
    hostname: db-neuron
    container_name: db-neuron
    restart: on-failure
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3301:3306"
    networks:
      - db
    volumes:
      - db:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 5s
      timeout: 3s
      retries: 3

  cache:
    platform: linux/arm64
    image: redis:latest
    hostname: cache-neuron
    container_name: cache-neuron
    restart: on-failure
    ports:
      - "6371:6379"
    networks:
      - cache
    volumes:
      - cache:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      start_period: 10s
      interval: 5s
      timeout: 3s
      retries: 3

  llm:
    image: ollama/ollama:latest
    platform: linux/arm64
    hostname: llm-neuron
    container_name: llm-neuron
    ports:
      - "11431:11434"
    networks:
      - llm
    volumes:
      - llm:/root/.ollama
      - ./ollama/init.sh:/ollama/init.sh
      - ./ollama/models.txt:/ollama/models.txt
    #entrypoint: [ "/bin/bash", "-c", "chmod +x /ollama/init.sh && /ollama/init.sh" ]

  server:
    platform: linux/arm64
    hostname: server-neuron
    container_name: server-neuron
    restart: unless-stopped
    build:
      context: .
      dockerfile: dockerfile
      target: local
      args:
        ENV: local
        WORK_DIR: /workdir
        INSTALL_DIR: /opt/install
        PW_DIR: /pwdir
    ports:
      - "8001:8000"
    volumes:
      - .:/workdir
    networks:
      - db
      - cache
      - llm
      - server
      - backend
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
      llm:
        condition: service_started
    command: >
      bash -c "uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"


networks:
  db:
    name: db-neuron
    driver: bridge
  cache:
    name: cache-neuron
    driver: bridge
  llm:
    name: llm-neuron
    driver: bridge
  server:
    name: server-neuron
    driver: bridge
  backend:
    name: backend
    driver: bridge

volumes:
  db:
    name: db-neuron
  cache:
    name: cache-neuron
  llm:
    name: llm-neuron
